* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Work Sans";
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(207, 207, 207);
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.main {
  height: 90vh;
  width: 90%;
  background-color: white;
  position: relative;
  top: 30px;
  box-shadow: grey 5px 5px 15px;
}

.yellowblock {
  background-color: rgba(255, 187, 0, 1);
  position: absolute;
  left: 0;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.yellowblock>h1 {
  font-weight: bold;
  position: absolute;
  top: 20%;
  text-transform: uppercase;
  font-size: min(max(16px, 4vw), 22px);
}

.yellowblock>.profilepic {
  height: 80%;
  width: 50%;
  background-color: rgb(235, 235, 235);
  border: 1px solid white;
  position: absolute;
  bottom: -40%;
  display: flex;
  justify-content: center;
}

.profilepic>.initials {
  margin: auto;
}

.left {
  border-right: grey 1px solid;
  position: absolute;
  height: 100%;
  width: 25%;
}

.left>.personal {
  text-align: center;
  height: 55%;
  width: 90%;
  position: absolute;
  bottom: 0;
}

.personal>h1 {
  font-size: min(max(16px, 4vw), 22px);
}

.personal>i {
  font-size: 25px;
  font-size: min(max(12px, 4vw), 22px);
  margin-bottom: 10px;
  color: rgb(161, 161, 161);
}

.personal>h3 {
  margin-bottom: 20px;
  font-size: min(max(12px, 4vw), 22px);
}

.personal>ul {
  display: block;
  list-style: none;
  width: 80%;
  height: 30%;
  position: absolute;
  left: 4%;
  text-align: left;
}

.personal>ul>a {
  text-decoration: none;
  font-size: min(max(12px, 4vw), 15px);
}

.personal>ul>a>li {
  padding: 5px;
  margin: auto;
  text-decoration: none;
  color: black;
}

.personal>.follow {
  position: absolute;
  bottom: 7%;
  left: 5%;
  color: white;
  background-color: rgba(255, 187, 0, 1);
  border: none;
  height: 10%;
  width: 50%;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: rgb(161, 161, 161) 0px 7px 5px;
}

.right {
  position: absolute;
  height: 100%;
  width: 75%;
  position: absolute;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.right::-webkit-scrollbar {
  background-color: rgb(20, 20, 20);
  width: 20px;
}

.right::-webkit-scrollbar-thumb {
  background: rgb(212, 180, 0);
  background: linear-gradient(180deg,
      rgba(255, 187, 0, 1) 7%,
      rgba(244, 221, 6, 1) 47%);
}

.right>.nav {
  height: 10vh;
  width: 100%;
}

.right>.nav>.navitems {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
}

.navitems>h3 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  margin: auto 0;
  text-transform: uppercase;
}

.navitems>h3>span {
  color: rgb(255, 187, 0);
}

.navitems>ul {
  display: flex;
  list-style: none;
}

.navitems>ul>a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: auto 30px;
  font-weight: 300;
  font-size: 19px;
  text-transform: uppercase;
}

.login {
  background-color: white;
  border: black 2px solid;
  font-weight: bold;
  margin: auto 0;
  padding: 5px;
  text-transform: uppercase;
}


@keyframes goDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    bottom: 0%;
  }
}

.right>i {
  position: absolute;
  bottom: 10px;
  left: 40px;
  font-size: min(max(16px, 5vw), 30px);
}

.right>.searchdiv {
  height: 60%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-color: rgb(0, 0, 0);
}

.searchdiv>.searchbars {
  margin: auto;
  position: absolute;
  top: 30%;
  text-align: center;
  width: 90%;
}

.searchbars>h1 {
  font-size: min(max(16px, 5vw), 40px);
  color: white;
  margin-bottom: 10px;
}

.searchbars>form {
  width: 100%;
}

.searchbars>form>input {
  border-radius: 5px;
  margin: 0 7px;
  border: none;
  padding-left: 10px;
}

.searchbars>form>.submitsearch {
  background-color: rgba(255, 187, 0, 1);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 3px;
}

.searchbars>form>.submitsearch>i {
  padding-left: 18px;
}

.searchbars>ul {
  list-style: none;
  display: flex;
  position: absolute;
  left: 16%;
}

.searchbars>ul>li {
  color: white;
  font-size: min(max(16px, 5vw), 20px);
  margin: 5px 20px;
}

.right>.intro {
  height: 20%;
  width: 100%;
  position: absolute;
}

.intro>h1 {
  font-size: min(max(16px, 5vw), 80px);
  font-family: "Merriweather";
  text-align: center;
  margin: auto 30px;
}

.intro>h2 {
  font-size: min(max(16px, 4vw), 22px);
  font-family: "Merriweather";
  text-align: center;
  margin: auto;
}

.eats {
  width: 100%;
  position: absolute;
  bottom: 5%;
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
}

.eats>.place {
  height: 100%;
  text-align: center;
  box-shadow: rgb(161, 161, 161) 5px 8px 10px;
}

.place>h2 {
  font-size: min(max(16px, 4vw), 22px);
  margin-bottom: 8px;
}

.place>img {
  height: 70%;
  width: 90%;
}

.place>h3 {
  color: grey;
  font-size: min(max(12px, 4vw), 18px);
}

.place>h3>span {
  color: rgba(255, 187, 0, 1);
  font-size: min(max(10px, 4vw), 15px);
}

.restaurantpage {
  height: 90vh;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  overflow-y: scroll;
}

.restaurantpage>.searchresults {
  background-color: rgb(255, 187, 0);
  height: 30%;
  width: 100%;

}

.restaurantpage>.stats {
  margin: 0 10px;
  bottom: 2%;
  width: 100%;
  height: 50%;
  line-height: 20px;
  border-bottom: rgb(230, 230, 230) 1px solid;
}

.stats>h1 {
  font-size: min(max(22px, 4vw), 50px);
}

.stats>p {
  color: rgba(255, 187, 0, 1);
  font-size: min(max(16px, 4vw), 19px);
}

.stats>h3 {
  color: rgb(78, 78, 78);

  font-size: min(max(13px, 4vw), 15px);
}

.stats>h2 {
  color: rgb(49, 49, 49);
  font-size: min(max(15px, 4vw), 19px);
}

.stats>ul {
  list-style: none;
  display: flex;
}

.stats>ul>li {
  margin-right: 10px;
}

.stats>ul>li>button {
  padding: 10px;
  font-size: min(max(10px, 7vw), 20px);
  border-radius: 5px;
  border: none;
}

.stats>ul>li>.submitbutton {
  background-color: rgb(255, 187, 0);
  color: white;
}

.stats>.reviewpage {
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  display: none;
}

.reviewpage>form {
  height: 100%;
  width: 100%;
}

.reviewpage>form>textarea {
  height: 50%;
  width: 90%;
  border-radius: 5px;
  position: absolute;
  padding: 10px;
  font-size: 15px;
}

.reviewpage>form>.submitreview {
  background-color: rgb(255, 187, 0);
  height: 40px;
  width: 200px;
  border: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  position: absolute;
  bottom: 2%;
  right: 6.5%;
  font-weight: bold;
}

.reviewpage>.picbox {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  height: 80%;
  width: 70%;
  border-radius: 5px;
}

.picbox>i {
  font-size: 80px;
  margin: auto 0;
  color: white;
}

.filebox {
  height: 60px;
  width: 70%;
  background-color: rgb(255, 187, 0);
  overflow: hidden;
  position: absolute;
  bottom: 10%;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

.filebox:hover {
  cursor: pointer;
  background-color: rgb(228, 167, 1);
}

.filebox>i {
  font-size: 40px;
  margin: auto 0;
  color: white;
}

.picbox>.filebox>input[type="file"] {
  font-size: 100px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.restaurantpage>.placeorder {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.placeorder>.top {
  height: 45%;
  width: 100%;
  border: 1px solid rgb(224, 224, 224);
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  background-color: white;
}

.top>input {
  height: 40px;
  width: 85%;
  padding-left: 6px;
  margin: 10px auto;
  font-size: 15px;
  border-radius: 5px;
  border: 0.4px solid lightgrey;
}

.top>.submitorder {
  height: 40px;
  width: 85%;
  margin: 10px auto;
  border-radius: 5px;
  border: none;
  padding: 4px;
  font-size: 18px;
  color: white;
  background-color: rgb(255, 187, 0);
  font-weight: bold;
}

.placeorder>.bottom {
  height: 48%;
  width: 100%;
  border: 1px solid rgb(224, 224, 224);
  display: flex;
  justify-content: center;
  background-color: white;
}

.bottom>ul {
  position: absolute;
  list-style: none;
  width: 70%;
}

.bottom>ul>a {
  font-size: 17px;
  margin: 1px;
  text-decoration: none;
  color: black;
}

.bottom>ul>a>li {
  padding: 4px 0;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.restaurantpage>.mapdiv {
  height: 70vh;
  width: 100%;
  position: absolute;
  bottom: -700px;
  background-color: rgb(211, 211, 211);
}

@keyframes go {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: 30%;
  }
}

@media screen and (min-width: 320px) and (max-width: 575px) {
  .main {
    width: 100%;
  }

  .left {
    display: none !important;
  }

  .right {
    width: 100% !important;
    border: none;
  }

  .right::-webkit-scrollbar {
    width: 4px;
  }

  .right>i {
    position: absolute;
    bottom: 10px;
    left: 40px;
    font-size: min(max(16px, 5vw), 30px);
    animation-name: go;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal forwards;
  }

  .nav {
    border: none;
  }

  .navitems>ul {
    display: none;
  }

  .logout {
    height: 30px;
    width: 100px;
  }

  .intro {
    top: 100px;
  }

  .intro>h1 {
    font-size: 25px;
  }

  #searchbar1 {
    left: 0;
    height: 30px;
    font-size: 10px;
    width: 85%;
    border-radius: 5px;
  }

  #searchbar2 {
    display: none;
  }

  .submitsearch {
    height: 30px;
    margin-top: 10px;
    font-size: 12px;
  }

  .submitsearch>i {
    font-size: 15px;
    position: absolute;
    margin-left: -25px;
    color: rgb(255, 187, 0);
  }

  .searchdiv {
    width: 100%;
    bottom: -100px;
  }

  .eats {
    height: 40%;
    width: 100%;
    display: flex;
    flex-flow: column wrap !important;
    justify-content: center;
  }

  .searchbars>ul {
    width: 100%;
    display: block;
    text-align: left;
    margin: auto;
  }

  .searchbars>ul>li {
    font-size: 12px;
    text-align: left;
  }

  .stats>ul>li>button {
    width: 50px;

  }

  .restaurantpage {
    bottom: -1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  .review {
    position: relative;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .right>i {
    position: absolute;
    bottom: 10px;
    left: 40px;
    font-size: min(max(16px, 5vw), 30px);
    animation-name: go;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal forwards;
  }

  .main {
    width: 100%;
  }

  .left {
    width: 32%;
  }

  .right {
    width: 68% !important;
    border: none;
  }

  .right::-webkit-scrollbar {
    width: 8px;
  }


  .nav {
    border: none;
  }

  .navitems>ul {
    display: none;
  }

  .logout {
    height: 30px;
    width: 100px;
  }

  .intro {
    top: 100px;
  }

  .intro>h1 {
    font-size: 25px;
  }

  #searchbar1 {
    left: 0;
    height: 37px;
    font-size: 15px;
    width: 85%;
    border-radius: 5px;
  }

  #searchbar2 {
    display: none;
  }

  .submitsearch {
    height: 30px;
    margin-top: 10px;
    font-size: 12px;
  }

  .submitsearch>i {
    font-size: 15px;
    position: absolute;
    margin-left: -25px;
    color: rgb(255, 187, 0);
  }

  .searchdiv {
    width: 100%;
    bottom: -100px;
  }

  .eats {
    height: 40%;
    width: 100%;
    display: flex;
    flex-flow: column wrap !important;
    justify-content: center;
  }

  .place {
    width: 50%;
  }

  .searchbars>ul {
    width: 100%;
    display: block;
    text-align: left;
    margin: auto;
  }

  .searchbars>ul>li {
    font-size: 12px;
    text-align: left;
  }

  .stats>ul>li>button {
    width: 100px;

  }

  .restaurantpage {
    bottom: -1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  .review {
    position: relative;
  }
}

@media screen and (min-width: 1024px) and (max-width:1440px) {
  .right>i {
    position: absolute;
    bottom: 10px;
    left: 40px;
    font-size: min(max(16px, 5vw), 30px);
    animation-name: go;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal forwards;
  }

  .main {
    width: 100%;
  }

  .left {
    width: 32%;
  }

  .profilepic>.initials {
    font-size: 30px;
  }

  .right {
    width: 68% !important;
    border: none;
  }

  .right::-webkit-scrollbar {
    width: 10px;
  }

  .nav {
    border: none;
  }

  .navitems>ul {
    display: none;
  }

  .logout {
    height: 30px;
    width: 100px;
  }

  .intro {
    top: 100px;
  }

  .intro>h1 {
    font-size: 25px;
  }

  #searchbar1 {
    left: 0;
    height: 37px;
    font-size: 15px;
    width: 85%;
    border-radius: 5px;
  }

  #searchbar2 {
    display: none;
  }

  .submitsearch {
    height: 30px;
    margin-top: 10px;
    font-size: 12px;
  }

  .submitsearch>i {
    font-size: 15px;
    position: absolute;
    margin-left: -25px;
    color: rgb(255, 187, 0);
  }

  .searchdiv {
    width: 100%;
    bottom: -100px;
  }

  .eats {
    height: 40%;
    width: 100%;
    display: flex;
    flex-flow: column wrap !important;
    justify-content: center;
  }

  .place {
    width: 50%;
    line-height: 10px;
  }

  .searchbars>ul {
    width: 100%;
    display: block;
    text-align: left;
    margin: auto;
  }

  .searchbars>ul>li {
    font-size: 12px;
    text-align: left;
  }

  .stats>ul>li>button {
    width: 100px;

  }

  .restaurantpage {
    bottom: -1100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  .review {
    position: relative;
  }
}

@media all and (max-width: 1440px) {
  .main {
    width: 100%;
    height: 100vh;
    top: 0;
  }

  .left {
    overflow-y: scroll;
  }

  .profilepic {
    height: 70%;
    width: 90%;
  }

  .profilepic>img {
    height: 100%;
    width: 100%;
  }

  .intro>h2 {
    display: none;
  }

  .searchdiv {
    height: 5%;
    width: 100%;
    left: 0;
    top: 30%;
  }

  .eats {
    top: 100%;
  }

  .restaurantpage {
    left: 0;
  }

  .stats {
    position: absolute;
    bottom: 0;
  }
}

@media all and (min-width: 1440px) {
  .restaurantpage {
    bottom: -1400px;
  }
}