* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Work Sans';
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

.main {
    height: 100vh;
    width: 100%;
    background: rgb(212, 180, 0);
    background: linear-gradient(180deg, rgba(212, 180, 0, 1) 7%, rgba(244, 221, 6, 1) 47%);
    display: flex;
    justify-content: center;
}


.main>.signup {
    height: 80%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 15%;
    text-align: center;
}

.signup>h1 {
    font-size: 50px;
    color: rgb(0, 0, 0);
}

.signup>.blackline {
    width: 80%;
    background-color: rgb(255, 187, 0);
    position: absolute;
    left: 10%;
    top: 13%;
}

.signup>ul {
    list-style: none;
    display: flex;
    position: absolute;
    left: 38%;
    top: 15%;
}


ul>a {
    color: black;
    text-decoration: none;
    margin: 0 20px;
}

.signup>form {
    position: absolute;
    width: 100%;
    top: 20%;
    height: 50%;
}

.signup>form>input {
    width: 80%;
    padding-left: 25px;
    border-radius: 50px;
    border: grey 1px solid;
}

input::placeholder {
    color: rgb(0, 0, 0);
}

label {
    position: absolute;
    left: 10%;
}

.signupbutton {
    position: absolute;
    bottom: 2%;
    background-color: rgb(255, 187, 0);
    border: none;
    color: black;
    border-radius: 50px;
    width: 70%;
    font-weight: bold;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .signup {
        width: 100%;
        overflow-y: scroll;
    }

    .signup>h1 {
        font-size: 22px;
        margin-top: 40px;
    }

    .blackline {
        height: 2px;
    }

    .signup>ul {
        transform: translate(-33%);
        font-size: 25px;
    }

    form {
        margin-top: 10px;
    }

    form>input {
        height: 27px;
        margin: 5px 0;
    }

    .signupbutton {
        height: 37px;
        bottom: 16%;

        transform: translate(-49%);
    }

    .signup>a {
        position: absolute;
        bottom: 5%;
        text-decoration: none;
        color: black;
        transform: translate(-50%);
        padding-bottom: 5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .signup {
        width: 100%;
        overflow-y: scroll;
    }

    .signup>h1 {
        font-size: 22px;
        margin-top: 40px;
    }

    .blackline {
        height: 2px;
    }

    .signup>ul {
        transform: translate(-1%);
        font-size: 25px;
    }

    form {
        margin-top: 10px;
    }

    form>input {
        height: 34px;
        margin: 5px 0;
        font-size: 15px;
    }

    .signupbutton {
        height: 37px;
        bottom: 12%;
        transform: translate(-49%);
    }

    .signup>a {
        position: absolute;
        bottom: 5%;
        text-decoration: none;
        color: black;
        transform: translate(-50%);
        padding-bottom: 5px;
    }
}

@media screen and (min-width: 1024px) {
    .signup {
        width: 100%;
        overflow-y: scroll;
    }

    .signup>h1 {
        font-size: 22px;
        margin-top: 40px;
    }

    .blackline {
        height: 2px;
    }

    .signup>ul {
        transform: translate(10%);
        font-size: 25px;
    }

    form {
        margin-top: 10px;
    }

    form>input {
        height: 34px;
        margin: 5px 0;
        font-size: 15px;
    }

    .signupbutton {
        height: 44px;
        bottom: 12%;
        font-size: 20px;
        transform: translate(-49%);
    }

    .signup>a {
        position: absolute;
        bottom: 5%;
        text-decoration: none;
        color: black;
        transform: translate(-50%);
        padding-bottom: 5px;
    }
}

@media screen and (min-width: 1240px) {
    .signup {
        width: 100%;
        overflow-y: scroll;
    }

    .signup>h1 {
        font-size: 22px;
        margin-top: 40px;
    }

    .blackline {
        height: 2px;
    }

    .signup>ul {
        transform: translate(27%);
        font-size: 25px;
    }

    form {
        margin-top: 10px;
    }

    form>input {
        height: 34px;
        margin: 5px 0;
        font-size: 15px;
    }

    .signupbutton {
        height: 44px;
        bottom: 12%;
        font-size: 20px;
        transform: translate(-49%);
    }

    .signup>a {
        position: absolute;
        bottom: 5%;
        text-decoration: none;
        color: black;
        transform: translate(-50%);
        padding-bottom: 5px;
    }
}